@import 'tailwindcss';

@theme {
    --color-gray-50: #AAAAAA;
    --color-gray-400: #9E9D9D;
    --color-gray-500: #757575;
    --color-gray-900: #222222;
    --color-red-400: #F0513F;
}

@layer components {
  .gradient-y {
    @apply bg-gradient-to-b from-[#6A82FB] to-[#FC5C7D];
  }

  .gradient-x{
    @apply bg-gradient-to-r from-[#6A82FB] to-[#FC5C7D];
  }
}

@layer base {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body{
        font-size: 1rem;
        font-family: 'Poppins', sans-serif;
    }
}